#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

/** header personalization **/
@media all and (min-device-width: 500px) {
nav {
  #burger-icon {
    display: none;
  }
	ul {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 20px;
		padding-left: 0;
		text-align: right;
	}
	li {
		display: inline-block;
		list-style-type: none;
		&:hover {
			border-right-style: solid;
			border-color: #50BFE6;
		}
	}
	justify-content: space-between;
	a {
		padding: 10px 15px;
		padding: 1.5rem;
		margin: 1rem;
		font-weight: 650rem;
		font-size: 2rem;
		color: #272341;
		text-decoration: none;
	}
}
ul {
	>li {
		list-style-type: square;
	}
}
}
@media all and (max-device-width: 499px) {
  #burger-icon {
    display: "";
  }
  nav ul {
    overflow: hidden;
    position: relative;
    text-align: right;
    margin-left: 70px;

  }

  nav #nav-list {
    margin-top: 70px;
    display: none;
  }

  nav li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  nav a.icon {
    color: #02aab0;
    background: FFFEFE;
    position: absolute;
    padding: 15px;
    padding-right:30px;
    padding-left:30px;
    right: 0;
    top: 0;
    margin-right:10px;

  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  li a {
    padding-left: 2.5rem;
    margin: 1rem;

    font-weight: 650rem;
    font-size: 1.8rem;
    color: #272341;
    text-decoration: none;
  }

  .language-list {
    display: none;
  }

}

.language-list {
	>li {
		>img {
			height: 10rem;
			flex: 1 0 20%;
			max-width: 53%;
			margin: 1rem 0;
			text-align: center;
		}
		display: inline-block;
		list-style-type: none;
		margin: 1rem;
	}
}
#hero {
	.hero-cta {
		margin: 30px;
		justify-content: center;
	}
}
